# include <stdio.h>
#include <math.h>
#include <stdlib.h>*
#include <time.h>

int main ()
{
    int x;
    int y;
    int nb_aleatoire;
    int tableau [4][4]= {0};
    tableau[0][0]=1;
    tableau[3][3]=11;

    for
    (x=0; x<4; x++)
    {
        for (y=0; y<4; y++)

        {
            if (tableau[x][y]==0)
            {
                printf ("\t  ");
            }
            else
            {
                printf("\t%d", tableau[x][y]);
            }

        }
        printf ("\n\n");



    }



}


