# include <stdio.h>
#include <math.h>
#include <stdlib.h>
#include <time.h>

int main ()
{
    int x;
    int y;
    int tableau [4][4]= {0};
    int indice;



    for
    (x=0; x<4; x++)
    {
        for (y=0; y<4; y++)

        {
            if (tableau[x][y]==0)
            {
                printf ("\t  ");
            }
            else
            {
                printf("\t%d", tableau[x][y]);
            }

        }
        printf ("\n\n");

x=rand()%4;
    y=rand()%4;


    }
    for (indice=0; indice<2; indice++)
    {
        for (indice=0; indice<2; indice++)
        {

        x=rand()%4;
        y=rand()%4;
        tableau [x][y]=2||4;

        }

    printf("%d",tableau[x][y]);
    }






}

